
services:
  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: stud_user
      POSTGRES_PASSWORD: student
      POSTGRES_DB: stud_assistant
    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    container_name: fastapi-backend
    ports:
      - "7000:8000"
    depends_on:
      - db
    restart: always

  frontend:
    build: ./frontend
    container_name: vue-frontend
    ports:
      - "7070:80"
    restart: always
volumes:
  postgres_data:
